---
---
// External
@import 'external/reset';
@import 'external/syntax';

// Base
@import 'base/variables';
@import 'base/global';
@import 'base/utility';

// Posts
@import 'layouts/posts';
@import 'layouts/index';

// Partials
@import 'includes/header';
@import 'includes/footer';

header > p > span {
    margin: 0 1rem;
}

code {
    color: #777;
}

.code {
    padding-top: 0.5rem;
    padding-bottom: 0.5rem;
    padding-left: 1rem;
    margin: 1.5rem 0 1.5rem -1.5rem;
    border-left: 0.5rem solid;
}

h1.title {
    text-shadow: 0 0 15px rgb(56, 56, 56);
}

.html {
    border-left-color: #f98720;
}

.css {
    border-left-color: #1ABC9C;
}

.javascript {
    border-left-color: limegreen;
}

.feature-image header {
    background-position: center;
}

.img-portfolio {
    display: block;
    margin: auto;
}

.contact-form {
    display: inline-block;
    width: 100%;
}

.form-name, .form-email {
    width: 47.75%;
    height: 3rem;
    border: 2px solid #f98720;
    padding: 1% 2%;
}

.form-name {
    float: left;
    margin: 1% 0.75% 1% 1.5%;
}

.form-email {
    float: right;
    margin: 1% 1.5% 1% 0.75%;
}

.form-message {
    clear: both;
    width: 97%;
    height: 6rem;
    margin: 1% 1.5%;
    padding: 1% 2%;
    border: 2px solid #f98720;
}

.form-name:focus, .form-email:focus, .form-message:focus {
    border-color: #0091B2;
}

  .form-name::placeholder, .form-email::placeholder, .form-message::placeholder {
    color: #777;
}

.submit {
    clear: both;
    width: auto;
    height: 3rem;
    margin: 5% 1.5%;
    padding: 1% 2%;
    color: #777;
    background-color: white;
    border: 2px solid #f98720;
    font-weight: 600;
    text-transform: uppercase;
    background-image: url(../img/rocketship.png);
    background-size: 45%;
    background-position: center center;
    background-repeat: no-repeat;
    text-shadow: -1px -1px 0 #fff, 1px -1px 0 #fff, -1px 1px 0 #fff, 1px 1px 0 #fff;
}

.submit:hover, .submit:active {
    background-color: #f98720;
    color: white;
    text-shadow: none;
}